[Unit]
Description=Refresh SSL Cert on Filemaker
Requires=fmSSLrefresh.timer

[Service]
Type=oneshot
ExecStart=INSTALLED_SCRIPTS/refreshFilemakerSSL.sh
User=ubuntu