[Unit]
Description=daily offsite backup to office

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
ExecStart=INSTALLED_SCRIPTS/offsite_backup.sh midday
User=ubuntu