[Unit]
Description=nightly offsite backup to office

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
ExecStart=INSTALLED_SCRIPTS/offsite_backup.sh night
User=ubuntu