[Unit]
Description=Automatically open databases if reboot due to new SSL
After=default.target

[Service]
Type=simple
ExecStart=INSTALLED_SCRIPTS/ServerStart.sh
User=ubuntu

[Install]
WantedBy=default.target
