[Unit]
Description=Go HTML mail server
After=network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/gomail
User=ubuntu
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target